// 原版风格混入和样式

// 经典框架样式
@mixin classic-frame {
  text-align: center;
  overflow: hidden;
  background: #111;
  padding: 3em 2em;
  margin: 1em 0 2em;
  box-shadow: inset 0 0 0.3em 0.1em #531;
  font:
    18px/1.5 仿宋,
    SimSun,
    serif;
  color: #ccc;
}

// 经典边框样式
@mixin classic-border {
  border-bottom: 1px solid #430;
  padding: 0.25em 0;
}

// 特殊文本样式
.uud {
  text-decoration: line-through;
  text-decoration-color: rgba(255, 0, 0, 0.4);
  text-decoration-thickness: 0.2em;
}

.cgb {
  text-decoration: line-through;
  text-decoration-color: rgba(255, 238, 102, 0.8);
  text-decoration-thickness: 0.2em;
}

.cgd {
  color: #fe6;
}

.dtt {
  font-size: 0.8em;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, rgba(80, 48, 1, 0), #531, rgba(80, 48, 1, 0));
}

.chn .dtt,
.jap .dtt {
  letter-spacing: 1px;
}
